<div id="chatroom_container" class="row bg-dark text-light">
    <div id="side_panel" class="col-md-4 col-sm-4">
        <h5><%= current_user.username %></h5>
        <h4> User </h4>
        <%= turbo_stream_from "users" %>
        <div id="users">
            <%= render @users %>
        </div>
        <h4> Chatrooms </h4>
        <%= render 'chatrooms/new_chatroom_form' %>
        <%= turbo_stream_from "chatrooms" %>
        <div id="chatrooms">
            <%= render @chatrooms %>
        </div>
    </div>
    <div id="room_container" class="col-md-8 col-sm-8 bg-dark text-light">
        <% if @single_chatroom %>
            <div id="single_chatroom">
                <h4 class="text-center"><%= @user&.username || @single_chatroom.name %></h4>
                <%= turbo_stream_from @single_chatroom %>
                <div id="messages" data-controller="scroll">
                    <%= render @messages %>
                </div>
                <%= render 'messages/new_message_form'%>
            </div>
        <% end %>
    </div>
</div>